* {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap:wrap;
}
#nav-title {
    margin-right: auto;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 0;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    width: 480px;
    height: 480px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
/* use 576px as the mobile breaking point to turn it into flex column*/

@media screen and (max-width:576px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
footer h3 {
    text-align: center;
}